.wrapper.sid-bar-container {
    height: 100vh;
}

.menu {

    list-style: none;
    margin: 0;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    background-color: #1a2938
}

.menu-item {
    text-align: left;
    cursor: pointer;
    color: #fff
}

.menu-item .item-container {
    display: flex;
    align-items: center;
    gap: 15px;
}